- provide(:title, 'About Us')
%h1 About
%p.desc
  Hi! My name's Vincent. And it is my first training app. It's first, but not goofy:
  %br/
  you can register here with your (nick)name, email/password,
  log in/out, edit your page, post messages.
  Also, you can use your Gravatar as avatar.
  %br/
  All users are protected with security tokens (As their cookies too!).
  %br/
  At the Links page you can find different literature. I believe it can be so helpfull for u as it was for me.
  %br/
  \:)
