<% provide(:title, 'Help') %>
<h1>Links</h1>
<p>
  <ul>Usefull li:</ul> 
  <li><a href="http://railstutorial.org/book">Rails Tutorial book</a></li>
  <li><a href="http://www.codecademy.com/">Codecademy</a></li>
  <li><a href="http://bootstrap-ru.com/">Bootstrap</a></li>
  <li><a href="http://rusrails.ru/">RoR Guides (rus)</a></li>
</p>