.center.hero-unit
  %h1 Welcome!
  %h2
    This is
    %a{:href => "http://www.rubyonrails.ru/"} RoR
    based application.
  = link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary"
