- provide(:title, 'Links')
%h1 Links
%p
  %ul.links Usefull li:
  %li.links
    %a{:href => "ttp://railstutorial.org/book"} Rails Tutorial book
  %li.links
    %a{:href => "http://www.codecademy.com/"} Codecademy
  %li.links
    %a{:href => "http://bootstrap-ru.com/"} Bootstrap
  %li.links
    %a{:href => "http://rusrails.ru/"} RoR Guides (rus)