$navbarBackground:                rgba(0,0,0,0) ;
$navbarBackgroundHighlight:       rgba(0,0,0,0.4) ;
$navbarLinkColor:                 #888888;               
$dropdownLinkBackgroundHover:     rgba(122, 67, 182, 0.2);
$inputBorderRadius:               50px;
$heroUnitBackground:              #f0f0f0;


@import "bootstrap";

$grayMediumLight: #eaeaea;


@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

input[type=text], textarea {
  @include transition(all 0.30s ease-in-out);
  /*outline: none;*/
  /*padding: 3px 0px 3px 3px;*/
  /*margin: 5px 1px 3px 0px;*/
  border: 1px solid #DDDDDD;
}
 
input[type=text]:focus, textarea:focus {
  @include box-shadow(0 0 5px rgba(122, 67, 182, 1));
  /*padding: 3px 0px 3px 3px;*/
  /*margin: 5px 1px 3px 0px;*/
  border: 1px solid rgba(122, 67, 182, 1);
}

input[type=password], textarea {
  @include transition(all 0.30s ease-in-out);
  /*outline: none;*/
  /*padding: 3px 0px 3px 3px;*/
  /*margin: 5px 1px 3px 0px;*/
  border: 1px solid #DDDDDD;
}
 
input[type=password]:focus, textarea:focus {
  @include box-shadow(0 0 5px rgba(122, 67, 182, 1));
  /*padding: 3px 0px 3px 3px;*/
  /*margin: 5px 1px 3px 0px;*/
  border: 1px solid rgba(122, 67, 182, 1);
}

label {
  color: $grayLight;
}

::selection {
    background: rgba(122, 67, 182, 0.5);
    color: #FFFfff;
}


html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  background: url(kveikur.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Titillium Web';
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
  font-family: 'Titillium Web';
  font-size: 14pt;
}

.row {
  margin-top: 15px;
  margin-left: -20px;
  margin-right: -30px;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}



/* typography */

.users li a {
  font-size: 12pt;
}

.span6 .btn-mini {
  font-size: 8pt;
  font-family: 'Titillium Web';
}

.navbar-search .search-query {
  border: 1px solid $gray;
  font-family: 'Titillium Web';
  font-size: 12px;
  text-transform: uppercase;
  color: #ffffff;
}

.dropdown-menu {
  font-size: 12pt;
  background-color: rgba(0,0,0,0.7);
   li{
    color: $grayLighter;
  }

   .divider{
    background-color: $grayDarker;
   }
}

.navbar .nav > li > a {
  font-size: 12pt;
}

.btn{
  font-family: 'Titillium Web';
  font-size: 12pt;
  border-radius: 10pt;
  color: $grayLighter;
}
.btn-inverse{
  border-radius: 15px;
}

.hero-unit {
  background-color: rgba(0,0,0,0.7);
  border-radius: 220px;
  h1 {
   font-size: 90px;
  }
}

.pagination {
  ul{
    li{
      a{
      background-color: rgba(0, 0, 0, 0.6);
      border: 1px solid $grayLight;
        &:hover{
          background-color: rgba(122, 67, 182, 0.5);
        }
      }
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-family: 'Titillium Web';
}

h1 {
  font-size: 50pt;
  letter-spacing: 1px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 2em;
  letter-spacing: 1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  /*color: $grayLight;*/
}

p {
  font-size: 12pt;
  line-height: 1.7em;
  font-family: 'Titillium Web';
  color: $grayLight;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 30px;
  color: $black;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-top: 5px;
  padding-left: 45px;
  font-family: 'Titillium Web';
  line-height: 1;
  &:hover {
    text-decoration: none;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.6)
  }
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray;
  color: $grayLight;
  a {
    color: $grayLight;
    &:hover {
      color: $purple;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

  a{
    color: $purple;
      &:hover {
        color: $grayLight;
      }
  }

/*Links*/
.links {
    color: $grayLight;
    font-size: 16pt;
}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* user sidebar */
.span4 {
  width: 330px;
}

aside {
  section {
    padding: 4px 4px;
    background: url(noise3.png);
    background-color: rgba(0,0,0,0.4);
    color: #ffffff;
    
    &:first-child {
      border-top-right-radius: 30px;
    }
    &:last-child {
      border-bottom-left-radius: 30px;
    }
    span{
      display: block;
      margin-bottom: 0px;
      line-height: 1.3;
      margin-top: 10px;
      margin-left: 4px;
      font-size: 12pt;
    }
    .grav {
      margin-left: 4px;
    }
  
    h1{
      font-size: 2em;
      text-align: left;
      letter-spacing: 1px;
      margin-bottom: 3px;
      margin-top: 4px;
      margin-left: 4px;
    }

    .page_avatar {
      width: 150;
      height: 150;
      float: left;
    }
  }
}

.gravatar {
  float: left;
  margin-top: 0px;
}

.stats {
  overflow: auto;
  margin-left: 5px;
  padding-bottom: 5px;
  margin-right: 160px;
  
  a {
    float: left;
    padding: 0 10px;
    font-size: 12pt;
    border-left: 1px dotted $grayLight;
    color: $gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: $purple;
    }  
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
}
.span8 {
  width: 500px;
  margin-left: 100px;
  margin-right: 0px;
}


/* forms */

input[type=text], input[type=password], select, .uneditable-input {
  border: 1px solid #bbb;
  border-radius: 10px;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  color: #ffffff;
  font-family: 'Titillium Web';
  font-size: 12pt;
  background-color: rgba(0,0,0,0.3);
  @include box_sizing;
}


input[type=text]{
  height: auto !important;
}
input[type=password]{
  height: auto !important;
}




#error_explanation {
    color: rgba(255, 0, 0, 0.4);
  ul {
    color: $red;
    font-family: 'Titillium Web';
    font-size: 12pt;
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayMediumLight;
    &:last-child {
      border-bottom: 1px solid $grayMediumLight;
    }
  }
}

/* microposts */

.microposts {
  list-style: none;
  margin: 10px 0 0 0;
  color: #ffffff;

  li {
    padding: 10px 0;
    border-bottom: 1px dotted $grayLight;
    font-family: 'Titillium Web';
    font-size: 12pt;

    &:hover {
      text-decoration: none;
      background-color: rgba(0,0,0,0.6);
      border-bottom: 1px solid $grayLight;
      border-radius: 5px;
    }
  }
}
.picture {
  width: 54px;
  height: 54px;
  float: left;
  margin-right: 10px;
  margin-left: 4px;
  margin-top: 3px;
}
.content {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}
.timestamp {
  color: $grayLight;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    /*margin-bottom: 5px;*/
  }
}

.compose-post-form {
  height: 249px;
  
  textarea {
  border: 1px solid #bbb;
  border-bottom: none;
  border-radius: 47px;
  width: 100%;
  height: 150px;
  padding: 10px 20px 10px 20px; 
  margin-top: 15px;
  margin-bottom: 0;
  background-color:  rgba(0,0,0,0.1);
  color: #ffffff;
  font-family: 'Titillium Web';
  font-size: 12pt;
  @include box_sizing;
  }

  .image-form{
      padding-left: 60px;
      margin-top: -4px; 
  input[type=file]{
      font-size: 10pt;
      width: 220px;
      height: 40px;
    }
  }
  .btn {
    border-radius: 15px;
    margin-left: 260px;
  }
}



