/*.navbar{
margin:10px 0px 10px 0px;
}

.navbar-inner > .container{
width:940px;
}

.navbar-inner{
border-radius:0px;
background: #e24e35 !important; 
background-image: none;
background-repeat: no-repeat;
filter: none !important;
border-top:1px solid #cc412a !important;
border-bottom:1px solid #cc412a !important;
border-left:0px !important;
border-right:0px !important;
}

.navbar .btn{
background:#cc412a !important;  
font-size:13px;
padding:4px 10px;
}

.navbar .btn:hover{
background:#e24e35 !important;
}

.navbar .caret{
border-top-color:#fff !important;
border-bottom-color:#fff !important;
}
/*
.navbar .brand{
color:#fff !important;
text-shadow:none !important;
}

.navbar .nav{
border-left:1px solid #cc412a;
border-right:1px solid #e75f48;
}

.navbar .nav > li > a{
padding:12px 15px 12px;
color:#fff !important;
text-shadow:none !important;
border-right: 1px solid #cc412a;
border-left:1px solid #e75f48;
-webkit-transition:background 1s ease;
-moz-transition:background 1s ease;
-o-transition:background 1s ease;
transition:background 1s ease;
}

.navbar .nav > li > a:hover{
background:#cc412a !important;
color:#fff !important;
-webkit-transition:background 1s ease;
-moz-transition:background 1s ease;
-o-transition:background 1s ease;
transition:background 1s ease;
}

.navbar .nav .active > a,
.navbar .nav .active > a:hover,
.navbar .nav .active > a:focus {
color: #ffffff;
box-shadow:none;
background: #cc412a !important;
}

.dropdown-toggle{
background: #e24e35 !important;
}

.nav-collapse a{
font-weight:normal !important;
text-shadow:none !important;
}

.dropdown-menu{
background:#e24e35 !important;
border-radius:0px !important;
box-shadow:none !important;
border-bottom:none !important;
padding:0px 0px;
margin:0px;
}

.dropdown-menu a{
background:#e24e35 !important;
padding:9px 10px;
color:#fff !important;
text-shadow:none !important;
-webkit-transition:background 1s ease;
-moz-transition:background 1s ease;
-o-transition:background 1s ease;
transition:background 1s ease;
border-bottom:1px solid #cc412a;
}

.dropdown-menu a:hover,.dropdown-menu a:focus{
filter:none !important;
background:#cc412a !important;
-webkit-transition:background 1s ease;
-moz-transition:background 1s ease;
-o-transition:background 1s ease;
transition:background 1s ease;
}

.dropdown-menu::after, .dropdown-menu::before{
border:none !important;
}
*/

/* For Responsive design 


@media (max-width: 767px){
   .navbar{
   margin-left:-20px;
   margin-right:-20px;
   }
   .navbar .nav{
   border:0px !important;
   }
   .navbar .nav > li > a{
   border:0px !important;
   }
   .dropdown-menu a{
   border-bottom:none !important;
   }   
}

@media (min-width: 768px) and (max-width: 979px){
   .navbar .nav{
   border:0px !important;
   }
   .navbar .nav > li > a{
   border:0px !important;
   }
   .dropdown-menu a{
   border-bottom:none !important;
   }
} */